main{
    border: 2px solid black;
    height: 500px;
    text-align: center;
}

div{
    display: inline-block;
}

.div1{
    background-color: red;
    width: 200px;
    height: 400px;
    vertical-align: middle;
}

.div2{
    background-color: blue;
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

.div3{
    background-color: green;
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

.div4{
    display: block;
}