body {
    margin: 0;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    width:  50%;
    margin : auto;
}

.item {
    background-color: white;
    width: 100%;
    min-width: 0; 
}