*{
    box-sizing: border-box;
}

/* .container{
    width: 900px;
    height: 900px;
    margin: auto;
    border: 1px solid black;
    background: url("freedom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.container2{
    background: url("customer-1.jpg");
    width: 900px;
    height: 900px;
    border: 3px solid red;
    background-origin:border-box;
    /* background-position: right 100% bottom 100% ; */
    background-repeat: no-repeat;
    background-size: contain;

}