*{
    box-sizing: border-box;
}

.container{
    width: 900px;
    height: 900px;
    margin: auto;
    border: 1px solid black;
    background: url("freedom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}