body{
    background-color: black;
    color: white;
}


.con-1{
    display: inline-block;
    text-align: center;
}

.liver{
    width: 100%;
    transform: rotate(10deg) translateX(40rem) skew(5deg) scale(3);
    background-color:rgb(82, 3, 3);
    padding: 0.2rem;

}