body{
    background-color: black;
    color: white;
    width: 900px;
}
.img-1:hover{
    transform: scale(1.1) skewX(10deg) skewY(10deg) ;
}

.con-1{
    display: inline-block;
    position: relative;
    left: 1000px;
    top: 1rem;
    background-color: red;
    padding: 0.2rem;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
}

