*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.item{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
}

.color1{
    background-color: antiquewhite;
}
.color2{
    background-color: aqua;
}
.color3{
    background-color: aquamarine;
}
.color4{
    background-color: beige;
}
.color5{
    background-color: bisque;
}
.color6{
    background-color: blue;
}
.color7{
    background-color: blueviolet;
}
.color8{
    background-color: brown;
}
.color9{
    background-color: cadetblue;
}
.color10{
    background-color: chocolate;
}