html{
    color: black;
}

body{
    margin: 0;
}

h1{
    margin: 0;
}

.container{
    min-height: 100vh;
    background-color: #eee222;
    display: flex;
    flex-direction: column;
}

.div2{
    flex-grow : 1
}