*{
  box-sizing: border-box;
}

.parent{
  border: 2px solid black;
  width: 1000px;
  height: 1000px;
  position: relative;
}

div{
  color: chartreuse;
}

.child-1{
  width: 200px;
  height: 200px;
  background-color: beige;
  position: relative;
}

.child-2{
  width: 200px;
  height: 200px;
  background-color: brown;
  position: absolute;
  left : 80%;
}

.child-3{
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
}